In [1]:
import pickle
import numpy as np
import pandas as pd

In [2]:
EMBEDDINGS_PATH = '../../data/word-cnn-embeddings.npy'
MAIN_DATA_PATH = '../../data/zappos_data/ut-zap50k-data/meta-data.csv'
DESCRIPTION_DATA_PATH = '../../data/descriptions_df_v1.csv'

In [3]:
embeddings = np.load(EMBEDDINGS_PATH)
embeddings.shape

(50060, 10, 1000)

In [4]:
embeddings = embeddings.astype(np.float32)

In [5]:
desc_data_df = pd.read_csv(DESCRIPTION_DATA_PATH)
desc_data_df.head()

,Unnamed: 0,CID,Url,Descr0,Descr1,Descr2,Descr3,Descr4,Descr5,Descr6,Descr7,Descr8,Descr9
0,0,100627-255,Shoes/Oxfords/Bostonian/100627.255.jpg,Leather material Leather insole Lace up Shoes...,black Capped Toe style Leather insole Bostoni...,Leather insole Bostonian black Oxfords Shoes ...,Oxfords Bostonian for Men Leather material Le...,Oxfords for Men Shoes Leather insole Leather m...,for Men Bostonian Capped Toe style black Leat...,for Men Bostonian Lace up Leather material bla...,Shoes Bostonian Oxfords Leather material for M...,Capped Toe style Lace up Shoes for Men Boston...,Shoes Oxfords for Men Leather insole Leather m...
1,1,100627-72,Shoes/Oxfords/Bostonian/100627.72.jpg,Leather insole Leather material Bostonian for ...,Lace up Shoes Leather material black Capped T...,Leather insole Capped Toe style black Leather ...,Lace up Bostonian Leather material Shoes Leat...,Leather material Leather insole Bostonian Sho...,Shoes Bostonian Oxfords Capped Toe style for M...,Capped Toe style Lace up Leather material for...,Lace up Shoes Capped Toe style black for Men B...,Oxfords Lace up Shoes Leather insole Capped To...,Leather material Capped Toe style Lace up for...
2,2,100657-216,Shoes/Oxfords/Bostonian/100657.216.jpg,Lace up Oxfords Bostonian for Men Leather mat...,Bostonian Leather material for Men Leather in...,Bostonian Oxfords brown grey for Men Leather i...,Capped Toe style brown grey Shoes Oxfords Leat...,Bostonian Lace up brown grey Oxfords Capped To...,for Men Leather insole brown grey Leather mat...,Lace up for Men Leather insole Shoes Bostonia...,brown grey for Men Shoes Bostonian Leather in...,Leather insole Bostonian Capped Toe style for ...,brown grey Bostonian for Men Capped Toe style ...
3,3,100657-72,Shoes/Oxfords/Bostonian/100657.72.jpg,Leather insole Oxfords Shoes Leather material...,Lace up Leather material Bostonian Capped Toe ...,black white for Men Leather material Lace up O...,Capped Toe style Bostonian Leather insole Shoe...,Shoes for Men Bostonian Leather material blac...,Leather insole for Men Oxfords black white Bos...,black white Capped Toe style Bostonian Leather...,Lace up Leather material Bostonian Oxfords for...,Shoes Capped Toe style Lace up Oxfords Leather...,Shoes for Men Leather insole Bostonian Lace up...
4,4,101026-3,Boots/Mid-Calf/Durango/101026.3.jpg,Mid-Calf Durango Boots Square Toe style Pull-o...,Boots for Men Square Toe style Leather materia...,Boots 1in - 1 3/4in heel height Durango Square...,Pull-on black white 1in - 1 3/4in heel height ...,Durango Boots Mid-Calf Leather insole black wh...,Mid-Calf Pull-on for Men Durango Leather insol...,Durango Square Toe style Boots for Men Pull-on...,Leather insole Boots Mid-Calf black white Dura...,Pull-on Durango black white Boots Square Toe s...,1in - 1 3/4in heel height Square Toe style Lea...

In [6]:
main_data_df = pd.read_csv(MAIN_DATA_PATH)
main_data_df.head()

,CID,Category,SubCategory,HeelHeight,Insole,Closure,Gender,Material,ToeStyle
0,100627-72,Shoes,Oxfords,NaN,Leather,Lace up,Men,Leather,Capped Toe;Round Toe
1,100627-255,Shoes,Oxfords,NaN,Leather,Lace up,Men,Leather,Capped Toe;Round Toe
2,100657-72,Shoes,Oxfords,NaN,Leather;Padded;Removable,Lace up,Men,Leather,Capped Toe;Round Toe
3,100657-216,Shoes,Oxfords,NaN,Leather;Padded;Removable,Lace up,Men,Leather,Capped Toe;Round Toe
4,101026-3,Boots,Mid-Calf,1in - 1 3/4in,Leather;Padded,Pull-on,Men,Leather;Rubber,Square Toe;Closed Toe

In [7]:
data_df = desc_data_df[['CID', 'Url']]
data_df.head()

          CID                                     Url
0  100627-255  Shoes/Oxfords/Bostonian/100627.255.jpg
1   100627-72   Shoes/Oxfords/Bostonian/100627.72.jpg
2  100657-216  Shoes/Oxfords/Bostonian/100657.216.jpg
3   100657-72   Shoes/Oxfords/Bostonian/100657.72.jpg
4    101026-3     Boots/Mid-Calf/Durango/101026.3.jpg

In [8]:
cat_data_df = main_data_df[['CID', 'Category']]
cat_data_df.Category = cat_data_df.Category.astype('category')
cat_data_df.head()

/home/gr/anaconda3/envs/lip/lib/python3.7/site-packages/pandas/core/generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

          CID Category
0   100627-72    Shoes
1  100627-255    Shoes
2   100657-72    Shoes
3  100657-216    Shoes
4    101026-3    Boots

In [9]:
complete_data_df = pd.merge(data_df, cat_data_df, on='CID')
complete_data_df.head()

          CID                                     Url Category
0  100627-255  Shoes/Oxfords/Bostonian/100627.255.jpg    Shoes
1   100627-72   Shoes/Oxfords/Bostonian/100627.72.jpg    Shoes
2  100657-216  Shoes/Oxfords/Bostonian/100657.216.jpg    Shoes
3   100657-72   Shoes/Oxfords/Bostonian/100657.72.jpg    Shoes
4    101026-3     Boots/Mid-Calf/Durango/101026.3.jpg    Boots

In [10]:
complete_data_df['Class'] = complete_data_df.Category.cat.codes
complete_data_df.head()

          CID                                     Url Category  Class
0  100627-255  Shoes/Oxfords/Bostonian/100627.255.jpg    Shoes      2
1   100627-72   Shoes/Oxfords/Bostonian/100627.72.jpg    Shoes      2
2  100657-216  Shoes/Oxfords/Bostonian/100657.216.jpg    Shoes      2
3   100657-72   Shoes/Oxfords/Bostonian/100657.72.jpg    Shoes      2
4    101026-3     Boots/Mid-Calf/Durango/101026.3.jpg    Boots      0

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
train_df, test_df, train_embeddings, test_embeddings = train_test_split(complete_data_df, embeddings, test_size=0.25)

In [14]:
import os

In [15]:
ZAPPOS_DIR = "../../data/zappos_word-cnn"
if not os.path.isdir(ZAPPOS_DIR):
    os.mkdir(ZAPPOS_DIR)

In [16]:
TRAIN_DIR_PATH = os.path.join(ZAPPOS_DIR,'train')
TEST_DIR_PATH = os.path.join(ZAPPOS_DIR,'test')

In [17]:
if not os.path.isdir(TRAIN_DIR_PATH):
    os.mkdir(TRAIN_DIR_PATH)
if not os.path.isdir(TEST_DIR_PATH):
    os.mkdir(TEST_DIR_PATH)

In [18]:
train_embeddings.dtype

dtype('float32')

In [19]:
with open(os.path.join(TRAIN_DIR_PATH, 'filenames.pickle'), 'wb') as f:
    pickle.dump(train_df.Url.tolist(), f)
    
with open(os.path.join(TRAIN_DIR_PATH, 'word-cnn-embeddings.pickle'), 'wb') as f:
    pickle.dump(train_embeddings, f)

with open(os.path.join(TRAIN_DIR_PATH, 'class_info.pickle'), 'wb') as f:
    pickle.dump(train_df.Class.tolist(), f)

In [20]:
with open(os.path.join(TEST_DIR_PATH, 'filenames.pickle'), 'wb') as f:
    pickle.dump(test_df.Url.tolist(), f)
    
with open(os.path.join(TEST_DIR_PATH, 'word-cnn-embeddings.pickle'), 'wb') as f:
    pickle.dump(test_embeddings, f)
    
with open(os.path.join(TEST_DIR_PATH, 'class_info.pickle'), 'wb') as f:
    pickle.dump(test_df.Class.tolist(), f)