In [1]:
import pickle
import numpy as np
import pandas as pd

In [2]:
EMBEDDINGS_PATH = '../../data/Full_emb.npy'
MAIN_DATA_PATH = '../../data/zappos_data/ut-zap50k-data/meta-data.csv'
DESCRIPTION_DATA_PATH = '../../data/descriptions_df_v0.csv'

In [3]:
embeddings = np.load(EMBEDDINGS_PATH)
embeddings.shape

(50060, 10, 1000)

In [4]:
embeddings = embeddings.astype(np.float32)

In [5]:
desc_data_df = pd.read_csv(DESCRIPTION_DATA_PATH)
desc_data_df.head()

,Unnamed: 0,CID,Url,Descr0,Descr1,Descr2,Descr3,Descr4,Descr5,Descr6,Descr7,Descr8,Descr9
0,0,100627-255,Shoes/Oxfords/Bostonian/100627.255.jpg,Leather insole Bostonian Round Toe style black...,Oxfords Shoes Round Toe style for Men Lace up ...,Bostonian Lace up Oxfords Leather material Sho...,for Men Bostonian Oxfords Round Toe style bla...,Leather insole Bostonian Oxfords black for Me...,Round Toe style Bostonian Leather material Lea...,Leather material Oxfords Bostonian black Lace...,black Lace up Shoes Bostonian Round Toe style ...,Leather material Lace up Leather insole Oxford...,Leather insole Oxfords for Men Leather materi...
1,1,100627-72,Shoes/Oxfords/Bostonian/100627.72.jpg,for Men black Bostonian Lace up Leather insol...,Oxfords Capped Toe style black Shoes for Men ...,Capped Toe style Oxfords Lace up Bostonian fo...,black Bostonian Leather insole Oxfords Leather...,Bostonian Shoes Lace up for Men black Oxfords...,Shoes Capped Toe style Bostonian Oxfords Leat...,Bostonian Lace up Leather material Oxfords Lea...,Bostonian Oxfords Leather insole Shoes Capped ...,Bostonian Capped Toe style Oxfords Leather mat...,Leather insole Capped Toe style Oxfords for Me...
2,2,100657-216,Shoes/Oxfords/Bostonian/100657.216.jpg,Leather material Oxfords Round Toe style for M...,Shoes Oxfords Bostonian for Men Leather mater...,for Men black Shoes Leather material Oxfords B...,for Men Lace up Leather insole Bostonian blac...,Round Toe style black Bostonian Shoes Lace up...,for Men Leather material Round Toe style Shoes...,Leather material for Men Lace up Shoes black L...,Shoes black Round Toe style for Men Lace up B...,Lace up Oxfords Shoes Leather material for Me...,Bostonian Leather material Lace up Round Toe ...
3,3,100657-72,Shoes/Oxfords/Bostonian/100657.72.jpg,Leather material Capped Toe style for Men Bost...,Shoes Lace up Capped Toe style Leather insole ...,Oxfords Bostonian Lace up black Shoes for Men...,Capped Toe style for Men Oxfords black Bostoni...,Shoes for Men Leather insole Leather material...,Oxfords Bostonian Capped Toe style Leather ma...,Capped Toe style Shoes Leather insole Lace up ...,Capped Toe style Leather insole Oxfords Leathe...,Bostonian black for Men Capped Toe style Shoes...,Lace up Leather insole Leather material Cappe...
4,4,101026-3,Boots/Mid-Calf/Durango/101026.3.jpg,Oxfords Padded insole black white Lace up Sho...,for Men Leather material Bostonian Capped Toe ...,Oxfords black white Leather material Shoes for...,Shoes Lace up Capped Toe style Bostonian Leat...,Bostonian for Men Leather insole Oxfords Lace...,Oxfords Capped Toe style Shoes Lace up Leathe...,Capped Toe style Shoes Lace up Oxfords Bostoni...,Bostonian for Men Oxfords Shoes Padded insole ...,Lace up Oxfords black white for Men Capped Toe...,Leather material Capped Toe style Bostonian fo...

In [6]:
main_data_df = pd.read_csv(MAIN_DATA_PATH)
main_data_df.head()

,CID,Category,SubCategory,HeelHeight,Insole,Closure,Gender,Material,ToeStyle
0,100627-72,Shoes,Oxfords,NaN,Leather,Lace up,Men,Leather,Capped Toe;Round Toe
1,100627-255,Shoes,Oxfords,NaN,Leather,Lace up,Men,Leather,Capped Toe;Round Toe
2,100657-72,Shoes,Oxfords,NaN,Leather;Padded;Removable,Lace up,Men,Leather,Capped Toe;Round Toe
3,100657-216,Shoes,Oxfords,NaN,Leather;Padded;Removable,Lace up,Men,Leather,Capped Toe;Round Toe
4,101026-3,Boots,Mid-Calf,1in - 1 3/4in,Leather;Padded,Pull-on,Men,Leather;Rubber,Square Toe;Closed Toe

In [7]:
data_df = desc_data_df[['CID', 'Url']]
data_df.head()

          CID                                     Url
0  100627-255  Shoes/Oxfords/Bostonian/100627.255.jpg
1   100627-72   Shoes/Oxfords/Bostonian/100627.72.jpg
2  100657-216  Shoes/Oxfords/Bostonian/100657.216.jpg
3   100657-72   Shoes/Oxfords/Bostonian/100657.72.jpg
4    101026-3     Boots/Mid-Calf/Durango/101026.3.jpg

In [8]:
cat_data_df = main_data_df[['CID', 'Category']]
cat_data_df.Category = cat_data_df.Category.astype('category')
cat_data_df.head()

/home/gr/anaconda3/envs/lip/lib/python3.7/site-packages/pandas/core/generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

          CID Category
0   100627-72    Shoes
1  100627-255    Shoes
2   100657-72    Shoes
3  100657-216    Shoes
4    101026-3    Boots

In [9]:
complete_data_df = pd.merge(data_df, cat_data_df, on='CID')
complete_data_df.head()

          CID                                     Url Category
0  100627-255  Shoes/Oxfords/Bostonian/100627.255.jpg    Shoes
1   100627-72   Shoes/Oxfords/Bostonian/100627.72.jpg    Shoes
2  100657-216  Shoes/Oxfords/Bostonian/100657.216.jpg    Shoes
3   100657-72   Shoes/Oxfords/Bostonian/100657.72.jpg    Shoes
4    101026-3     Boots/Mid-Calf/Durango/101026.3.jpg    Boots

In [10]:
complete_data_df['Class'] = complete_data_df.Category.cat.codes
complete_data_df.head()

          CID                                     Url Category  Class
0  100627-255  Shoes/Oxfords/Bostonian/100627.255.jpg    Shoes      2
1   100627-72   Shoes/Oxfords/Bostonian/100627.72.jpg    Shoes      2
2  100657-216  Shoes/Oxfords/Bostonian/100657.216.jpg    Shoes      2
3   100657-72   Shoes/Oxfords/Bostonian/100657.72.jpg    Shoes      2
4    101026-3     Boots/Mid-Calf/Durango/101026.3.jpg    Boots      0

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
train_df, test_df, train_embeddings, test_embeddings = train_test_split(complete_data_df, embeddings, test_size=0.25)

In [13]:
ZAPPOS_DIR = "../../data/zappos_char-cnn"

In [14]:
import os

In [15]:
TRAIN_DIR_PATH = os.path.join(ZAPPOS_DIR,'train')
TEST_DIR_PATH = os.path.join(ZAPPOS_DIR,'test')

In [16]:
if not os.path.isdir(TRAIN_DIR_PATH):
    os.mkdir(TRAIN_DIR_PATH)
if not os.path.isdir(TEST_DIR_PATH):
    os.mkdir(TEST_DIR_PATH)

FileNotFoundError: [Errno 2] No such file or directory: '../../data/zappos_char-cnn/train'

In [22]:
train_embeddings.dtype

dtype('float64')

In [16]:
with open(os.path.join(TRAIN_DIR_PATH, 'filenames.pickle'), 'wb') as f:
    pickle.dump(train_df.Url.tolist(), f)
    
with open(os.path.join(TRAIN_DIR_PATH, 'simple-embeddings.pickle'), 'wb') as f:
    pickle.dump(train_embeddings, f)

with open(os.path.join(TRAIN_DIR_PATH, 'class_info.pickle'), 'wb') as f:
    pickle.dump(train_df.Class.tolist(), f)

In [17]:
with open(os.path.join(TEST_DIR_PATH, 'filenames.pickle'), 'wb') as f:
    pickle.dump(test_df.Url.tolist(), f)
    
with open(os.path.join(TEST_DIR_PATH, 'simple-embeddings.pickle'), 'wb') as f:
    pickle.dump(test_embeddings, f)
    
with open(os.path.join(TEST_DIR_PATH, 'class_info.pickle'), 'wb') as f:
    pickle.dump(test_df.Class.tolist(), f)